@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.cards-grid {
  position: relative;
  min-height: 400px;
}

.articles-preloader {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f3f2f2d2;
}

// @include atDesktop1024 {
//   .main-card {
//     padding-top: 50px;
//   }
// }

// @include atMobile {
//   .main-card {
//     padding-top: 30px;
//   }
// }

// .cards-grid {
//   display: grid;
//   grid-template-columns: repeat(3, minmax(290px, 1fr));
//   gap: 80px 30px;

//   &_content_small-cards {
//     grid-template-columns: repeat(4, minmax(290px, 1fr));
//   }
// }

// @include atDesktop1440 {
//   .cards-grid {
//     grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
//   }
// }

// @include atDesktop1024 {
//   .cards-grid {
//     padding-top: 50px;
//     row-gap: 30px;
//   }
// }

// @include atTablet {
//   .cards-grid {
//     grid-template-columns: 1fr;
//     padding-top: 30px;
//   }
// }
