.error-boundary__message {
  margin: auto;

  font-family: 'Proto Grotesk Web Light', sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 300;
  line-height: 50px;
  letter-spacing: 0px;
  text-align: left;
}
