.tags {
  padding-top: 25px;
  position: relative;
}

.tags__list {
  margin: 0 auto;
  padding: 0;
  max-width: 940px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;

  &_type_long {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1100px) {
  .tags__list {
    max-width: 700px;
  }
}

@include atDesktop1024 {
  .tags {
    padding-top: 10px;

    &_content_long-list {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -1px;
        width: 40px;
        height: 100%;
        background: linear-gradient(90deg, transparent 0%, $background 100%);
      }
    }
  }

  .tags__list {
    &_type_long {
      justify-content: flex-start;
      flex-wrap: nowrap;
      overflow-x: scroll;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

@include atTablet {
  .tags {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -1px;
      width: 40px;
      height: 100%;
      background: linear-gradient(90deg, transparent 0%, $background 100%);
    }
  }
  .tags__list {
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
