.preloader {
  padding: 80px 0px;
  background: #f5f6f7;
}

.preloader__circle {
  display: block;
  width: 74px;
  height: 74px;
  border: 1px solid #444;
  border-bottom-color: #888;
  border-radius: 50%;
  margin: 0 auto;
  animation: spin 0.75s infinite linear;
}

.preloader__caption {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #b6bcbf;
  margin: 24px 0 0;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
