@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';
.personal-area__add-photo-button {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
}
.personal-area__bottom-caption {
  padding: 0;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../images/svg/personal-area-plus.svg) center no-repeat;
  border: 1px solid $lightGray;
  border-radius: 100%;
  outline: none;
  cursor: pointer;
  position: absolute;
  background-color: rgba(243, 242, 242, 0.65);
}
.personal-area__bottom-caption::after {
  content: 'Загрузить фото';
  padding-top: 5px;
  text-align: center;
  color: $lightGray;
  position: absolute;
  top: 105%;
}

.personal-area__form {
  width: 100%;
  display: grid;
  gap: 20px 30px;
  grid-template-columns: 1fr minmax(240px, 290px);
  grid-template-rows: auto;
}
.personal-area__form-input_wrap  {
position: relative;
}
.personal-area__form-input_wrap_data {
  text-align: end;
  position: relative;
}
.personal-area__form-input_wrap_type_textarea {
  grid-column: 1 / -1;
  min-height: 286px;
  resize: none;
  position: relative;
}
.personal-area__form-input {
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 13px 20px 16px;
  background-color: $background;
  font-family: $protoGrotesk;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.3;
  letter-spacing: 0.2px;
  color: $black;

  &::placeholder {
    color: $lightGray;
  }
  &_type_place {
    width: 100%;
  }
  &_type_data {
    width: fit-content;
  }
  &_type_textarea {
   width: 100%;
  }

  &[type='date']:not(:focus):not(.has-value):before {
    color: $lightGray;
    content: attr(placeholder);
  }
}
.personal-area__card_photo {
  width: 100%;
}
.personal-area__rating {
  display: flex;
  align-items: center;
}
.personal-area__radioBtn-smile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.personal-area__rate {
  width: 26px;
  height: 26px;
  padding: 0;
  margin-right: 15px;
  border: none;
  outline: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;

  &_type_good {
    background-image: url('../../images/personal-area/good.svg');
  }
  &_type_good:hover {
    background-image: url('../../images/personal-area/good-active.svg');
  }
  &_type_good:checked {
    background-image: url('../../images/personal-area/good-active.svg');
  }
  &_type_neutral {
    background-image: url('../../images/personal-area/neutral.svg');
  }
  &_type_neutral:hover {
    background-image: url('../../images/personal-area/neutral-active.svg');
  }
  &_type_neutral:checked {
    background-image: url('../../images/personal-area/neutral-active.svg');
  }
  &_type_bad {
    background-image: url('../../images/personal-area/bad.svg');
  }
  &_type_bad:hover {
    background-image: url('../../images/personal-area/bad-active.svg');
  }
  &_type_bad:checked {
    background-image: url('../../images/personal-area/bad-active.svg');
  }
  &_type_active-good {
    background-image: url('../../images/personal-area/good-active.svg');
  }

  &_type_active-neutral {
    background-image: url('../../images/personal-area/neutral-active.svg');
  }

  &_type_active-bad {
    background-image: url('../../images/personal-area/bad-active.svg');
  }
}
.personal-area__radioBtn-smile:checked + .personal-area__rate_type_bad {
  background-image: url('../../images/personal-area/bad-active.svg');
}
.personal-area__radioBtn-smile:checked + .personal-area__rate_type_neutral {
  background-image: url('../../images/personal-area/neutral-active.svg');
}
.personal-area__radioBtn-smile:checked + .personal-area__rate_type_good {
  background-image: url('../../images/personal-area/good-active.svg');
}
.personal-area__rating-label {
  color: $lightGray;
  position: relative;

  &_type_good {
    color: $green;
  }

  &_type_neutral {
    color: $lightGray;
  }

  &_type_bad {
    color: $error;
  }
}
.personal-area__form-input:invalid {
  border: 1px solid $error;
}
.personal-area__form-input_error {
  margin: 0;
  font-size: 14px;
  color: $error;
  position: absolute;
  bottom: -15px;
  left: 10px;
}
.personal-area__rating-label .personal-area__form-input_error {
  left: -10px;
}
  //.personal-area__form-input_wrap_data .personal-area__form-input_error {
//  right: 10px;
//}
.personal-area__buttons {
  display: flex;
  justify-content: flex-end;
}

.personal-area__delete {
  border: none;
}

.personal-area__radioBtn-smile:checked .personal-area__rate_type_neutral {
  color: $lightGray;
}
@include atDesktop1024 {
  .personal-area__story {
    padding-top: 20px;
  }

  .personal-area__form {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .personal-area__buttons {
    justify-content: space-between;
  }

  .personal-area__rating {
    padding: 10px 0 20px;
    width: 100%;
    flex-grow: 2;
  }

  .personal-area__card {
    padding: 30px 15px;
  }

  .personal-area__text-wrap {
    grid-column: 1 / 3;
  }

  .personal-area__card-title {
    padding-bottom: 75px;
  }

  .personal-area__card-date {
    position: absolute;
    top: 30px;
    right: 15px;
  }

  .personal-area__actions {
    padding-top: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .personal-area__opened-info {
    display: none;
  }

  .personal-area__action-elements {
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
  }

  .personal-area__button {
    margin: 0;
  }
  .personal-area__form-input_type_data {
    width: 100%;
  }
}
@media screen and (max-width: 1100px){
  .personal-area__form-input_error {
    font-size: 12px;
    bottom: -9px;
    left: 10px;
  }
}
@media screen and (min-width: 1100px){
  .personal-area__form-input_wrap_data .personal-area__form-input_error {
    right: 10px;
  }
}
@media screen and (max-width: 580px) {
  .personal-area__card-title {
    max-width: 70%;
  }
}

@media screen and (max-width: 320px) {
  .personal-area__card-title {
    max-width: 240px;
  }
}
