.header {
  padding-top: 40px;
  transition: .2s linear;
}

.header_displayed {
  background-color: #fff;
  border-radius: 0 0 30px 30px;
}

.header_fixed{
  position: fixed;
  width: calc(100% - 155px);
  left:0;
  top:0;
  z-index: 2;
  background-color: #f3f2f2;
  padding-top: 10px;
  padding-bottom: 10px;
}
@include atDesktop1024 {
  .header {
    padding-top: 30px;
  }
}

@include atMobile {
  .header {
    padding-top: 15px;
  }
}


