.header {
  padding-top: 40px;
  transition: .2s linear;
}

.header_displayed {
  background-color: #fff;
  border-radius: 0 0 30px 30px;
}

@include atDesktop1024 {
  .header {
    padding-top: 30px;
  }
}

@include atMobile {
  .header {
    padding-top: 15px;
  }
}


