.header {
  position: relative;
  z-index: 10;
  padding-top: 40px;
  transition: .2s linear;
  background-color:transparent;
}

.header_displayed {
  background-color: transparent;
  border-radius: 0 0 30px 30px;
}

.header_fixed{
  position: fixed;
  width: calc(100% - 155px);
  left:0;
  top:0;
  z-index: 2;
  background-color: $background;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: .5s ease;
}
@include atDesktop1024 {
  .header {
    padding-top: 30px;
  }
}

@include atMobile {
  .header {
    padding-top: 15px;
  }
}

@include atMobile {
  .header {
    padding-top: 15px;
  }
  .header_fixed {
    width: calc(100% - 45px);
  }
}

@media screen and (min-width: 1380px){
  .header_displayed {
    background-color: transparent;

  }
}
