@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';
//rubric
.rubric {
  margin: 0;
  box-sizing: border-box;
  display: inline-block;
  padding: 2px 7px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, .3);
  font-family: $ptRootUI;
  font-size: 10px;
  line-height: 1.3;
  letter-spacing: 1px;
  color: $darkGray;
  text-transform: uppercase;
  white-space: nowrap;
}

// caption
.caption {
  margin: 0;
  font-family: $ptRootUI;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: $darkGray;
}

.caption_type_test {
  margin-top: 20px;
}

@include atDesktop1024 {
  .caption {
    font-size: 12px;
  }
}

//link
.link {
  display: inline-block;
  font-family: $protoGrotesk;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.3;
  text-decoration: none;
  letter-spacing: 0.2px;
  color: $blue;
}

.link_type_test {
  margin-top: 40px;
}

@include atDesktop1024 {
  .link {
    font-size: 12px;
    line-height: 1.4;
  }
}

.paragraph {
  margin: 0;
  font-family: $ptRootUI;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: $black;
}

.paragraph_type_test {
  padding-top: 50px;
  max-width: 472px;
}

@include atDesktop1024 {
  .paragraph {
    font-size: 15px;
  }
}

.card__paragraph {
  margin-top: 30px;

  &:first-of-type {
    margin: 0;
  }
}

.no-results{
  margin: 100px auto;
  font-size: 24px;
  max-width: 500px;
}