@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';
.rubric {
  margin: 0;
  box-sizing: border-box;
  display: inline-block;
  padding: 2px 7px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, .3);
  font-family: $ptRootUI;
  font-size: 10px;
  line-height: 1.3;
  letter-spacing: 1px;
  color: $darkGray;
  text-transform: uppercase;
  white-space: nowrap;
}
.question {
  margin-top: 30px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  padding: 50px 50px 47px;
  background-color: #fff;
  border-radius: 30px;

  &:first-of-type {
    margin-top: 0;
  }
}

.question__wrap {
  margin-top: 10px;
}

.question__title {
  cursor: pointer;
}

.question__rubric {
  margin-top: 5px;
  background-color: $background;
}

.question__answer {
  display: none;

  &_visible {
    display: block;
    margin-top: 30px;
  }
}

.question__paragraph {
  margin-top: 10px;

  &:first-of-type {
    margin-top: 0;
  }
}

.question__show-button {
  position: absolute;
  top: 45px;
  right: -100px;
  width: 100px;
  height: 100px;
  border: none;
  outline: none;
  border-radius: 100%;
  background-color: $lightBlue;
  cursor: pointer;
  transition: .2s linear;

  &_active {
    transform: rotate(45deg);
  }

  &::before {
    content: '';
    position:absolute;
    top: 38px;
    left: 50%;
    width: 1px;
    height: 23px;
    background-color: $black;
    transform:translateX(-50%);
  }
  &::after {
    content: '';
    position:absolute;
    top: 50%;
    left: 38px;
    width: 23px;
    height: 1px;
    background-color: $black;
    transform:translateY(-50%);
  }
}

@include atDesktop1024 {
  .question {
    margin-right: 0;
    padding: 30px 15px 15px;
  }

  .question__wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .question__show-button {
    position: relative;
    top: auto;
    right: auto;
    align-self: flex-end;
    width: 50px;
    height: 50px;

    &::before {
      top: 19px;
      height: 12px;
    }
    &::after {
      left: 19px;
      width: 12px;
    }
  }

  .question__answer {
    &_visible {
      margin-top: 10px;
    }
  }
}
//questions
.questions {
  max-width: 970px;
  margin: 0 auto;
}

@include atDesktop1024 {
  .questions {
    padding-top: 50px;
  }
}

@include atMobile {
  .questions {
    padding-top: 30px;
  }
}

//main-questions
.main-questions__item {
  margin: 30px 0 0;
  align-items: flex-start;

  &:first-of-type {
    margin-top: 0;
  }
}

.main-questions__title {
  max-width: 770px;
}

.main-questions__rubric {
  margin-top: 15px;
  margin-left: 3px;
}

.main-questions__link {
  width: 100%;
  text-decoration: none;
}

@include atDesktop1400 {
  .main-questions__item {
    &:nth-last-of-type(-n+1) {
      display: none;
    }
  }
}

@include atDesktop1024 {
  .main-questions__item {
    padding-bottom: 30px;
  }
}

@include atTabletL {
  .main-questions__item {
    &:nth-last-of-type(-n+1) {
      display: flex;
    }
  }
}

.section-title {
  margin: 0;
  font-family: $protoGrotesk;
  font-weight: 300;
  font-size: 23px;
  line-height: 1.3;
  color: $black;

  &_clickable {
    display: inline-block;
    text-decoration: none;
    transition: .2s linear;

    &:hover {
      color: $blue;
    }
  }
}

.section-title_type_test {
  margin-top: 40px;
}

@include atDesktop1024 {
  .section-title {
    font-size: 19px;
    line-height: 1.2;
  }
}
.main-questions__rubric-contaier{
  margin-top: 15px;
}